body{
    background-color: azure;
   
}

.headImage{
    box-shadow: 8px 8px 8px rgb(77, 77, 77);
    border-radius: 400px;
    margin-left: 20px;
    margin-right: 30px;
}

.Headin{
    font-size: 40px;
    padding-top: 40px;
    margin-top: 0%;
    font-weight:5;
    color: rgb(2, 0, 119);
    font-family: 'Sacramento', cursive;
}

h2{
    font-family: 'Play', sans-serif;
    margin-left: 430px;
    letter-spacing: 6px;
    color: rgb(255, 74, 104);
   
}

h4{
    font-family: 'Trispace', sans-serif;
    color: rgb(0, 73, 156);
}

.submit{
  margin-left: 560px;
  box-shadow: 8px 8px 8px rgb(77, 77, 77);
  border-radius: 20px;
}


.hed{
    margin-left: 450px;
    column-gap: 5px;
}

a{
    
margin-left: 560px;
}

.foot{
    margin-left: 530px;
    font-family:  'Play', sans-serif; 
    letter-spacing: 3px;
    font-weight: 200;
}
.sub{
    font-family:  'Play', sans-serif; 
    letter-spacing: 3px;
    font-weight: 200;
    font-size: large;
   color: rgb(28, 27, 53);
}


footer{
    background-image: linear-gradient(blue);
}

#id_1, #id_2, #id_3, #id_4, #id_5{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: 10;
}